*personal*
exp/
.python-version
.vscode
.idea
.mypy_cache
notebooks/.ipynb_checkpoints
_build
__pycache__

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
